.container {
  width: 7.5rem;
  margin: 0 auto;
}
.container .header {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  height: 0.88rem;
  background-color: #FF6040;
  padding: 0.27rem 0.36rem 0.27rem 0.36rem;
}
.container .header .a {
  color: #FFFFFF;
  font-family: Helvetica;
  font-size: 0.32rem;
  width: 0.09rem;
  height: 0.17rem;
  opacity: 0.8;
}
.container .header .b {
  opacity: 0.8;
  font-family: Helvetica;
  font-size: 0.32rem;
  color: #FFFFFF;
  text-align: center;
}
.container .body {
  width: 100%;
  height: 13.85rem;
  border: 0.2rem solid #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .body .logo {
  margin-top: 4.85rem;
  width: 3.65rem;
  height: 1rem;
}
.container .body .login {
  margin-top: 0.5rem;
  width: 6.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: PingFangSC-Light;
  font-size: 0.24rem;
  color: #666666;
}
.container .body .login .a {
  width: 100%;
  height: 0.84rem;
  line-height: 0.84rem;
  display: flex;
}
.container .body .login .b {
  width: 100%;
  height: 0.84rem;
  line-height: 0.84rem;
  display: flex;
}
.container .body .login .c {
  width: 100%;
  height: 0.84rem;
  line-height: 0.84rem;
  display: flex;
}
.container .body .login button {
  margin-top: 0.4rem;
  width: 100%;
  height: 1rem;
  background-color: #cccccc;
}
